# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
publish/

# Visual Studio
.vs/
*.user
*.suo
*.userprefs
*.swp

# Rider / VS Code
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
.nuget/
